### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
.idea/
out/
gen/
idea/
*.exe
*.ilk
*.obj
*.pch
*.pdb
*.dylib
*.o
*.so
*.dll
*.vs
cmake-build-debug/